/** Basic config file **/

@theme "/home/angel/.config/rofi/launchers/misc/blurry.rasi"

configuration {
  show-icons:         true;
  hover-select: 				 true;
  me-select-entry: "";
  me-accept-entry: [ MousePrimary, MouseSecondary, MouseDPrimary ];
}
