<div class="dialog__header">
	<span class="logo lt-icon lt-icon__lt">
		<span class="logo__name">Language<strong>Tool</strong></span>
		<span id="slogan" class="logo__claim"></span>
	</span>
</div>
<div class="dialog__content" id="dialog__content">
	<div id="message" class="content"></div>
	<div id="footer" class="dialog__footer content">
		<div id="dialog__buttons" class="dialog__buttons">
			<button class="dialog__primaryButton" id="confirm"></button>
		</div>
		<div id="progress-indicator" class="progress-indicator"></div>
	</div>
</div>

<div class="dialog__made-in">
	Made in
	<span class="dialog__flag--fr"></span>
	France and
	<span class="dialog__flag--de"></span>
	Germany
</div>
